*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.app {
    display: flex;      
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #D6E0E9;
}
.container{
    margin: 120px auto;
    max-width: 500px;
    width: 100%;
    background: #e9e9e9;
    border-radius: 4px;

}
.wrapper{
    padding: 40px 0 0 0;
}
.wrapper header{
    font-size: 40px;
    font-weight: 500;
    color: #537195;
    text-align: center;
}
.wrapper .inputField{
    display: flex;
    padding: 20px 10px 40px 10px;
    justify-content: center;
    align-items: center;
}
.inputField p{
    font-size: 12px;
    font-weight: 700;
    padding-right: 5px;
    color: #537195;
}
.inputField input{
    width: 50%;
    height: 100%;
    padding: 5px;
    border: 1px solid #8ABBE4;
    border-radius: 3px;
    font-size: 15px;
    outline: none;
    box-shadow: -1px -1px 3px #8ABBE4
}
.inputField button{
    width: 40px;
    height: 29px;
    border: none;
    outline: none;
    background: #34B0D2;
    border-radius: 3px;
    margin-left: 5px;
    color: #ffff;
    cursor: pointer;
}
.container .todoList{
    padding: 0;
}
.todoList li{
    list-style: none;
    height: 33px;
    line-height: 33px;
    background: #ffff;
    padding: 0 15px;
    border: 1px solid #E0E0E0;
    position: relative;
    font-size: 11px;
    color: #537195;
    border-radius: 2px;
}